In [4]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [17]:
import pandas as pd
emp=pd.Series(['uma','siva','sindhu','rare'])
id=pd.Series([10,20,30,40])
Frame={'Emp':emp,'Id':id}
result=pd.DataFrame(Frame)
print("\nSeries to Data frame\n")
print(result)
print("\n ExtractingOneColum\n")
print(result['Emp'])
result['Age']=pd.Series([20,25,30,35])
print(result)
del result['Age']
print(result)
print("\n Extracting the second row\n")
print(result.loc[1])

Series to Data frame

      Emp  Id
0     uma  10
1    siva  20
2  sindhu  30
3    rare  40

 ExtractingOneColum

0       uma
1      siva
2    sindhu
3      rare
Name: Emp, dtype: object
      Emp  Id  Age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    rare  40   35
      Emp  Id
0     uma  10
1    siva  20
2  sindhu  30
3    rare  40

 Extracting the second row

Emp    siva
Id       20
Name: 1, dtype: object

In [19]:
d2=pd.DataFrame(['anu',20],['jinu',19])
column=['Emp','ID']
print("\n Adding new row values\n",pd.concat([result,d2]))

 Adding new row values
          Emp    Id    0
0        uma  10.0  NaN
1       siva  20.0  NaN
2     sindhu  30.0  NaN
3       rare  40.0  NaN
jinu     NaN   NaN  anu
19       NaN   NaN   20