In [1]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n square root:\n",info.apply(np.sqrt))
print("\n sum of each column:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n",info.apply(np.sum,axis=1))

 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [2]:
#for 3d
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [3]:
import pandas as pd
import numpy as np
md=pd.DataFrame([['sai',88],['mad',70]],columns=['EmpName','ID'])
print(md)
md['Age']=[20,18]
print("Adding new column:\n",md)
md['Sex']=['male','male']
print("Adding new column:\n",md)

  EmpName  ID
0     sai  88
1     mad  70
Adding new column:
   EmpName  ID  Age
0     sai  88   20
1     mad  70   18
Adding new column:
   EmpName  ID  Age   Sex
0     sai  88   20  male
1     mad  70   18  male

In [4]:
#another method
m=md.assign(Age=[20,18])
print(m)

  EmpName  ID  Age   Sex
0     sai  88   20  male
1     mad  70   18  male

In [5]:
import pandas as pd
import numpy as np
md=pd.DataFrame([['sai',88],['mad',70]],columns=['EmpName','ID'])
print(md)
m=md.assign(Age=[20,18])
print(m)

  EmpName  ID
0     sai  88
1     mad  70
  EmpName  ID  Age
0     sai  88   20
1     mad  70   18

In [7]:
#to print random values
import pandas as pd
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3 -0.701431  2.041795
2 -0.879244 -0.582540
0 -0.330450  0.429756
4 -1.960188 -2.603195
1 -0.684053  0.724462
       col3      col4
0 -0.330450  0.429756
1 -0.684053  0.724462
2 -0.879244 -0.582540
3 -0.701431  2.041795
4 -1.960188 -2.603195
       col3      col4
4 -1.960188 -2.603195
2 -0.879244 -0.582540
3 -0.701431  2.041795
1 -0.684053  0.724462
0 -0.330450  0.429756

In [8]:
info4=info.sort_values(by='col4')
print(info4)

       col3      col4
4 -1.960188 -2.603195
2 -0.879244 -0.582540
0 -0.330450  0.429756
1 -0.684053  0.724462
3 -0.701431  2.041795

In [1]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'ID':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'Sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'ID':[1,2,3,4],'Name':['Sanjay','Saran','Sam','Ruba'],'Sub':['sub2','sub4','sub3','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on="ID"))

   ID  Name   Sub
0   1   Sai  sub1
1   2   Poo  sub2
2   3  Saba  sub4
3   4  Yuvi  sub3
   ID    Name   Sub
0   1  Sanjay  sub2
1   2   Saran  sub4
2   3     Sam  sub3
3   4    Ruba  sub5
   ID Name_x Sub_x  Name_y Sub_y
0   1    Sai  sub1  Sanjay  sub2
1   2    Poo  sub2   Saran  sub4
2   3   Saba  sub4     Sam  sub3
3   4   Yuvi  sub3    Ruba  sub5